*{
  padding :0;
  margin:0;
   box-sizing:border-box;
  font-family:'Popping',sans-serif;
  list-style:none;
  text-decoration:none;
  scroll-behavior:smooth;
  scroll-padding-top:3rem:
}

body{
  backgroung:var(--bg-color);
  color: var(--tx-color);
    
}
header{
  position:fixed;
  width:100%;
  right:0;
  top:0;
  z-index:1000;
  display:flex;
   align-items:center;
  justify-content:space-between;
  background:#000;
  padding:15px 6%;
}

.logo{
  font-size:1.9rem;
  font-weight:600;
  color: var(--tx-color);
}
span{
  color: var(--main-color);
}
.navlist{
  display:flex;
  
}
.navlist li{
  position:relative;
  
}
.navlist a{
  color: var(--tx-color);
  font-weight:500;
  font-size:1rem;
  padding:10px 20px;
  
}
.navlist a::after{
  content:'';
  position:absolute;
  width:0;
  height:2px;
  backgroung: var(--main-color);
  left:0;
  bottom:-4px;
  transition:ease .40s;
}
.navlist a:hover::after{
  width:100%
}
#menu-icon{
  font-size:26px;
  color: var(--tx-color);
  cursor:pointer;
  z-index:10001;
  display:none;
}
.h-btn a{
  color: var(--tx-color);
  font-weight:500;
  padding:8px 26px;
  border:2px solid transparent;
  transition:ease .40s;
}
.h-btn .sign-in{
 color:var(--tx-color);
  background:var(--main-color);
  border-radius:30px;
}

.h-btn .sign-in:hover{
  background:transparent;
  boeder:2px solid var(--main-color);
}
section{
  padding:120px 16%
}
.home{
  height:100hv;
  width:100%;
  background:url(../img/backgroung);
  background:grey;
    background-size:cover;
  background-position:center;
  position:relative;
  displa:flex;
  grid-template-column:repeat(1, 1fr);
  align-text:center;
}
.home-text{
  padding-top:120px;
  
}
.home-text h1{
  font-size:var(--big-font);
  color:var(--tx-color);
  line-weight:1.11;
  font-weight:800;
  letter-spacing:1px;
  margin:0 0 25px;
  
}
.home-text h4{
  color: var(--tx-color);
  font-size:1.5rem;
  line-height:1.21;
  font-weight:700;
  margin-bottom:40px;
  
 }
 .btn{
  display:inline-block;
  font-size:14px;
  font-weight:600;
  padding:16px 33px;
  background:var(--main-color);
  color:var:--tx-color);
  border-raduis:30px;
  border:2px solid transparent;
   text-transform:uppercase;
   transition:ease .30s
}

:root{
  --bg-color:#ffffff;
   --second-bg-color:#f9f9f9;
  --tx-color:#fff;
 --second-color:#161616;
   --main-color:#ef0454;
  --other-color:#6a6a6a;
  --big-font:5.7rem;
  --h2-font:3.8rem;
 --p-font:1rem;
}
